
{% load static %}   
<html>
<head>
<title> pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 14.8px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1170:827" src="{% static 'page_001.jpg' %}" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_78:98" style="top:98;left:78">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
 z</span>
</div>
<div class="pos" id="_93:118" style="top:118;left:93">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
BULLETIN DE PAIE</span>
</div>
<div class="pos" id="_407:118" style="top:118;left:407">
<span id="_11.2" style="font-weight:bold; font-family:Times New Roman; font-size:11.2px; color:#000000">
P&#233;riode du :  Septembre 2025</span>
</div>
<div class="pos" id="_83:138" style="top:138;left:83">
<span id="_11.2" style="font-weight:bold; font-family:Times New Roman; font-size:11.2px; color:#000000">
Raison Sociale : </span>
</div>
<div class="pos" id="_220:139" style="top:139;left:220">
<span id="_11.9" style="font-weight:bold; font-family:Times New Roman; font-size:11.9px; color:#000000">
A. K.O GROUPE</span>
</div>
<div class="pos" id="_374:137" style="top:137;left:374">
<span id="_11.2" style="font-weight:bold; font-family:Times New Roman; font-size:11.2px; color:#000000">
Date d'entr&#233;e : 1<span id="_7.3" style=" font-size:7.3px"> er</span> Septembre 2025</span>
</div>
<div class="pos" id="_81:160" style="top:160;left:81">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
Adresse</span>
</div>
<div class="pos" id="_81:179" style="top:179;left:81">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
BP :</span>
</div>
<div class="pos" id="_81:199" style="top:199;left:81">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
Ville</span>
</div>
<div class="pos" id="_374:194" style="top:194;left:374">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
Convention collective : commerce</span>
</div>
<div class="pos" id="_81:218" style="top:218;left:81">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
Nom du salari&#233; : </span>
</div>
<div class="pos" id="_170:212" style="top:212;left:170">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
MOUNANA Wesley Prince Mondestin</span>
</div>
<div class="pos" id="_470:236" style="top:236;left:470">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
 </span>
</div>
<div class="pos" id="_82:247" style="top:247;left:82">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
Adresse : </span>
</div>
<div class="pos" id="_171:247" style="top:247;left:171">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
12, Rue Mandomb&#233; / Mfilou</span>
</div>
<div class="pos" id="_81:274" style="top:274;left:81">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
Situation matrimoniale</span>
</div>
<div class="pos" id="_376:275" style="top:275;left:376">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
MATRICULE : AKORH003</span>
</div>
<div class="pos" id="_81:294" style="top:294;left:81">
<span id="_10.9" style=" font-family:Times New Roman; font-size:10.9px; color:#000000">
Nombre d&#146;enfants</span>
</div>
<div class="pos" id="_323:296" style="top:296;left:323">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
0</span>
</div>
<div class="pos" id="_372:297" style="top:297;left:372">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
N&#176; CNSS</span>
</div>
<div class="pos" id="_81:310" style="top:310;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
Anciennet&#233; (An)</span>
</div>
<div class="pos" id="_323:315" style="top:315;left:323">
<span id="_10.2" style="font-weight:bold; font-family:Times New Roman; font-size:10.2px; color:#000000">
0</span>
</div>
<div class="pos" id="_373:322" style="top:322;left:373">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
N&#176; CAMU</span>
</div>
<div class="pos" id="_81:333" style="top:333;left:81">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
 <span id="_10.9" style=" font-size:10.9px"> Cat&#233;gorie</span></span>
</div>
<div class="pos" id="_317:333" style="top:333;left:317">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
10</span>
</div>
<div class="pos" id="_374:345" style="top:345;left:374">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
Poste/Fonction : Directeur des Ressources Humaines</span>
</div>
<div class="pos" id="_79:353" style="top:353;left:79">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
 Nbre de parts</span>
</div>
<div class="pos" id="_309:350" style="top:350;left:309">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
   1</span>
</div>
<div class="pos" id="_95:363" style="top:363;left:95">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
 </span>
</div>
<div class="pos" id="_81:408" style="top:408;left:81">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
Commentaire :  </span>
</div>
<div class="pos" id="_450:449" style="top:449;left:450">
<span id="_11.1" style="font-weight:bold; font-family:Times New Roman; font-size:11.1px; color:#000000">
Part salariale</span>
</div>
<div class="pos" id="_630:449" style="top:449;left:630">
<span id="_11.1" style="font-weight:bold; font-family:Times New Roman; font-size:11.1px; color:#000000">
Part patronale</span>
</div>
<div class="pos" id="_94:459" style="top:459;left:94">
<span id="_12.1" style="font-weight:bold; font-family:Times New Roman; font-size:12.1px; color:#000000">
Libell&#233; de la rubrique</span>
</div>
<div class="pos" id="_231:459" style="top:459;left:231">
<span id="_11.4" style="font-weight:bold; font-family:Times New Roman; font-size:11.4px; color:#000000">
Nbre de jour Base </span>
</div>
<div class="pos" id="_393:469" style="top:469;left:393">
<span id="_10.1" style=" font-family:Times New Roman; font-size:10.1px; color:#000000">
Taux %</span>
</div>
<div class="pos" id="_472:469" style="top:469;left:472">
<span id="_10.1" style=" font-family:Times New Roman; font-size:10.1px; color:#000000">
Gain</span>
</div>
<div class="pos" id="_539:469" style="top:469;left:539">
<span id="_10.1" style=" font-family:Times New Roman; font-size:10.1px; color:#000000">
Retenue</span>
</div>
<div class="pos" id="_613:469" style="top:469;left:613">
<span id="_10.1" style=" font-family:Times New Roman; font-size:10.1px; color:#000000">
Taux %</span>
</div>
<div class="pos" id="_684:469" style="top:469;left:684">
<span id="_10.1" style=" font-family:Times New Roman; font-size:10.1px; color:#000000">
Retenue </span>
</div>
<div class="pos" id="_81:491" style="top:491;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
Salaire de base</span>
</div>
<div class="pos" id="_315:489" style="top:489;left:315">
<span id="_10.4" style=" font-family:Arial; font-size:10.4px; color:#000000">
     266 000</span>
</div>
<div class="pos" id="_482:491" style="top:491;left:482">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
266 000</span>
</div>
<div class="pos" id="_81:511" style="top:511;left:81">
<span id="_11.7" style=" font-family:Times New Roman; font-size:11.7px; color:#000000">
Cong&#233;s pay&#233;s</span>
</div>
<div class="pos" id="_487:510" style="top:510;left:487">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
00000</span>
</div>
<div class="pos" id="_487:523" style="top:523;left:487">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
00</span>
</div>
<div class="pos" id="_81:530" style="top:530;left:81">
<span id="_11.3" style=" font-family:Times New Roman; font-size:11.3px; color:#000000">
Prime de fonction</span>
</div>
<div class="pos" id="_317:529" style="top:529;left:317">
<span id="_10.4" style=" font-family:Arial; font-size:10.4px; color:#000000">
       60 000</span>
</div>
<div class="pos" id="_484:530" style="top:530;left:484">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
60 000</span>
</div>
<div class="pos" id="_141:569" style="top:569;left:141">
<span id="_11.7" style=" font-family:Times New Roman; font-size:11.7px; color:#000000">
Salaire Total Brut</span>
</div>
<div class="pos" id="_482:569" style="top:569;left:482">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
326 000</span>
</div>
<div class="pos" id="_81:589" style="top:589;left:81">
<span id="_11.7" style=" font-family:Times New Roman; font-size:11.7px; color:#000000">
CNSS(Salariale)</span>
</div>
<div class="pos" id="_336:588" style="top:588;left:336">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
326 000</span>
</div>
<div class="pos" id="_420:589" style="top:589;left:420">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
     4</span>
</div>
<div class="pos" id="_552:588" style="top:588;left:552">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
    13040 </span>
</div>
<div class="pos" id="_420:597" style="top:597;left:420">
<span id="_10.4" style=" font-family:Arial; font-size:10.4px; color:#000000">
           </span>
</div>
<div class="pos" id="_81:608" style="top:608;left:81">
<span id="_11.7" style=" font-family:Times New Roman; font-size:11.7px; color:#000000">
CAMU (Part salariale)</span>
</div>
<div class="pos" id="_336:608" style="top:608;left:336">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
326 000</span>
</div>
<div class="pos" id="_420:610" style="top:610;left:420">
<span id="_10.4" style=" font-family:Arial; font-size:10.4px; color:#000000">
2,27           </span>
</div>
<div class="pos" id="_552:609" style="top:609;left:552">
<span id="_10.4" style=" font-family:Times New Roman; font-size:10.4px; color:#000000">
     7400 </span>
</div>
<div class="pos" id="_81:628" style="top:628;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
CNSS (Patronale)</span>
</div>
<div class="pos" id="_336:627" style="top:627;left:336">
<span id="_10.1" style=" font-family:Times New Roman; font-size:10.1px; color:#000000">
326 000</span>
</div>
<div class="pos" id="_640:628" style="top:628;left:640">
<span id="_10.5" style=" font-family:Times New Roman; font-size:10.5px; color:#000000">
20,28<span style=" font-family:Arial">          91 280</span></span>
</div>
<div class="pos" id="_81:647" style="top:647;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
-Allocations Familiales </span>
</div>
<div class="pos" id="_81:667" style="top:667;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
-Accident de travail(RP)</span>
</div>
<div class="pos" id="_640:667" style="top:667;left:640">
<span id="_10.0" style=" font-family:Times New Roman; font-size:10.0px; color:#000000">
  </span>
</div>
<div class="pos" id="_81:686" style="top:686;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
-Assurance Vieillesse patronale</span>
</div>
<div class="pos" id="_640:687" style="top:687;left:640">
<span id="_10.0" style=" font-family:Times New Roman; font-size:10.0px; color:#000000">
      </span>
</div>
<div class="pos" id="_81:706" style="top:706;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
CAMU (Patronale) </span>
</div>
<div class="pos" id="_336:707" style="top:707;left:336">
<span id="_10.0" style=" font-family:Times New Roman; font-size:10.0px; color:#000000">
326 000</span>
</div>
<div class="pos" id="_638:707" style="top:707;left:638">
<span id="_10.0" style=" font-family:Times New Roman; font-size:10.0px; color:#000000">
    7,5</span>
</div>
<div class="pos" id="_693:708" style="top:708;left:693">
<span id="_10.0" style=" font-family:Times New Roman; font-size:10.0px; color:#000000">
      24 450</span>
</div>
<div class="pos" id="_81:745" style="top:745;left:81">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
Total cotisations</span>
</div>
<div class="pos" id="_131:769" style="top:769;left:131">
<span id="_11.4" style=" font-family:Times New Roman; font-size:11.4px; color:#000000">
Salaire Imposable</span>
</div>
<div class="pos" id="_561:765" style="top:765;left:561">
<span id="_10.0" style="font-weight:bold; font-family:Times New Roman; font-size:10.0px; color:#000000">
20 440</span>
</div>
<div class="pos" id="_679:764" style="top:764;left:679">
<span id="_9.6" style="font-weight:bold; font-family:Times New Roman; font-size:9.6px; color:#000000">
        115 730</span>
</div>
<div class="pos" id="_481:772" style="top:772;left:481">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
305 560</span>
</div>
<div class="pos" id="_81:803" style="top:803;left:81">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
Base imposable apr&#232;s abattement</span>
</div>
<div class="pos" id="_335:803" style="top:803;left:335">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
305 560</span>
</div>
<div class="pos" id="_413:804" style="top:804;left:413">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
       80</span>
</div>
<div class="pos" id="_483:805" style="top:805;left:483">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
244 448</span>
</div>
<div class="pos" id="_94:823" style="top:823;left:94">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
                                 IRPP</span>
</div>
<div class="pos" id="_561:824" style="top:824;left:561">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
45 132</span>
</div>
<div class="pos" id="_94:842" style="top:842;left:94">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
Indemnit&#233; Internet</span>
</div>
<div class="pos" id="_488:842" style="top:842;left:488">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
8000</span>
</div>
<div class="pos" id="_591:888" style="top:888;left:591">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
NET A PAYER</span>
</div>
<div class="pos" id="_557:917" style="top:917;left:557">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
268 428</span>
</div>
<div class="pos" id="_667:912" style="top:912;left:667">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
FCFA</span>
</div>
<div class="pos" id="_533:937" style="top:937;left:533">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
Charges</span>
</div>
<div class="pos" id="_97:947" style="top:947;left:97">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
Cumuls</span>
</div>
<div class="pos" id="_160:947" style="top:947;left:160">
<span id="_11.2" style="font-weight:bold; font-family:Times New Roman; font-size:11.2px; color:#000000">
Salaire brut</span>
</div>
<div class="pos" id="_227:950" style="top:950;left:227">
<span id="_11.2" style="font-weight:bold; font-family:Times New Roman; font-size:11.2px; color:#000000">
Net imposable Base Imp.</span>
</div>
<div class="pos" id="_423:956" style="top:956;left:423">
<span id="_11.2" style="font-weight:bold; font-family:Times New Roman; font-size:11.2px; color:#000000">
Salariales</span>
</div>
<div class="pos" id="_603:956" style="top:956;left:603">
<span id="_11.2" style="font-weight:bold; font-family:Times New Roman; font-size:11.2px; color:#000000">
Patronales</span>
</div>
<div class="pos" id="_99:976" style="top:976;left:99">
<span id="_10.2" style=" font-family:Times New Roman; font-size:10.2px; color:#000000">
P&#233;riode </span>
</div>
<div class="pos" id="_174:976" style="top:976;left:174">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
326 000</span>
</div>
<div class="pos" id="_251:976" style="top:976;left:251">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
365 560</span>
</div>
<div class="pos" id="_311:975" style="top:975;left:311">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
244 448</span>
</div>
<div class="pos" id="_430:976" style="top:976;left:430">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
65 572</span>
</div>
<div class="pos" id="_605:976" style="top:976;left:605">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
115 730</span>
</div>
<div class="pos" id="_82:995" style="top:995;left:82">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
Ann&#233;e (cumul)</span>
</div>
<div class="pos" id="_174:996" style="top:996;left:174">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
000000</span>
</div>
<div class="pos" id="_250:995" style="top:995;left:250">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
000000</span>
</div>
<div class="pos" id="_311:992" style="top:992;left:311">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
00000</span>
</div>
<div class="pos" id="_81:1015" style="top:1015;left:81">
<span id="_10.2" style=" font-family:Arial; font-size:10.2px; color:#000000">
Pour vous aider &#224; faire valoir vos droits, conservez ce bulletin sans limitation.</span>
</div>
</nowrap></nobr>
</body>
</html>
